<ion-view title="Create New Recipe">
  <ion-content padding="'true'" class="has-header page-new-recipe">
    <form class="list"></form>
    <form class="list">
      <span class="input-label">Title</span>
      <label class="item item-input">
        <input type="text" placeholder="" ng-model="title">
      </label>
    </form>

    <form class="list">
      <span class="input-label">Content</span>
      <label class="item item-input">
        <textarea class="content" placeholder="" ng-model="content"> </textarea>
      </label>
    </form>

    <span class="input-label">Picture</span>
    
    <img class="pic" ng-src="{{imageData}}" />

    <button class="button button-stable button-block  icon-left ion-android-camera"
      ng-click="takePicture()">
      Take a Picture</button>

    <button class="button button-positive button-block " ng-click="save(title, content)">Create</button>
  </ion-content>
</ion-view>
