<ion-view title="Login">
  <ion-content padding="'true'" style="background: url(img/rBmXOmSeQPiIJisZjxX2_MainCuttingStyles.jpg) no-repeat center;" class="has-header">
    <div class="spacer" style="width: 300px; height: 48px;"></div>
    <h1>recipic</h1>
    <form class="list">
      <div class="spacer" style="width: 300px; height: 45px;"></div>
      <ion-list>
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <button class="button button-positive button-block ">Log in</button>
      <a menu-close="" class="button button-light button-clear button-block ">Or create an account</a>
    </form>
  </ion-content>
</ion-view>
