<ion-view title="Recipe Feed">
    <ion-content padding="'true'" class="has-header">
        <div class="list card">
            <div class="item item-divider">Title</div>
            <div class="item item-body">
                <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; width: 100%; height: auto; background-color: rgb(255, 255, 255);">
                    <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
                </div>
                <div>
                    <p>Some friendly
                        <strong>markdown</strong>
                    </p>
                </div>
                <button class="button button-stable button-block  icon-left ion-heart">Like</button>
            </div>
        </div>
    </ion-content>
</ion-view>