<ion-view title="Recipes">
  <ion-nav-buttons side="right">
    <button class="button icon-left ion-plus" ui-sref="menu.createNewRecipe">
    </button>
  </ion-nav-buttons>

  <ion-content padding="'true'" class="has-header page-feed">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="refresh()">
    </ion-refresher>

    <div class="list card" ng-repeat="recipe in recipes">
      <div class="item item-body recipe-wrap">
        <div class="image" back-img="{{recipe.image}}">
          <i class="icon ion-image" ng-show="recipe.image == ''"></i>
          &nbsp;
        </div>
        <div class="body">
          <div class="title">{{recipe.title}}</div>
          <div class="subtitle">
            <span class="username">{{recipe.username}}@</span>
            <span class="time">{{recipe.time}}</span>
          </div>
          <div class="content">
            {{recipe.content}}
          </div>
        </div>
        <div class="buttons row">
          <a class="link-button button-stable button-block ion-heart"> Like</a>
          <a class="link-button button-stable button-block ion-chatbubbles"> Comment</a>
          <a class="link-button button-stable button-block ion-share"> Share</a>
        </div>
      </div>
    </div>

    <ion-infinite-scroll
      on-infinite="loadMore()"
      distance="1%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
